 /* GLOBAL STYLES */
 
 a {
    color: rgba(203, 195, 227, 0.2);
  }
  div {
    border: 1px solid #0f0;
  }

  /* SOCIAL STYLES */
  .social-link {
    background: rgba(150, 150, 150, 0.2);
    color: rgba(0, 0, 255, 0.2);
  }

  /* BIO STYLES */
  div.bio-box {
    border: 1px solid #fff;
  }
  .bio-copy a {
    color: #0f0;
  }